* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kalameh;
}

@font-face {
  font-family: Kalameh;
  src: url(../font/Kalameh-Regular.ttf);
}

@font-face {
  font-family: Kalameh-Bold;
  src: url(../font/Kalameh-Bold.ttf);
}

section.root {
  width: 100vw;
  height: 100vh;
  background: url(../img/1.jpg) center center/cover no-repeat;
  position: relative;
}

.main {
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    -60deg,
    #4cd1d669,
    #5cdfdf80,
    hsla(207, 100%, 76%, 0.425)
  );
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 48px;
  width: 652px;
}

.main > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.main > div > input {
  flex-grow: 10;
  border: none;
  outline: none;
  padding: 0px 16px;
  height: 56px;
  border-radius: 28px;
  font-size: 16px;
}

.main > div > button {
  flex-grow: 2;
  border: none;
  outline: none;
  border-radius: 28px;
  padding: 12px;
  width: 48px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 100ms linear;
  background-color: #fff;
}

.main > div > button:hover {
  background-color: rgb(86, 114, 190);
}

.main > div > button#reset:hover {
  background-color: rgb(190, 86, 86);
}

.main > div > button:hover > img {
  filter: invert(100%);
  transition: all 100ms linear;
}

.main > .display {
  width: 100%;
  font-family: Kalameh;
  display: none;
}

.main > .display > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 16px;
}

.main > .display > .wrapper * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0px 24px;
  height: 44px;
  line-height: 44px;
  background-color: #ffffffcc;
  backdrop-filter: blur(5px);
  border-radius: 24px;
}
